---
import { getCollection } from "astro:content";

import MainLayout from "../layouts/MainLayout.astro";
import Category from "../components/Category.astro";

import { SITE_TITLE, SITE_DESCRIPTION, SITE_LOGO } from "../config";

const posts = (await getCollection("posts")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
let categories = [
    ...new Set(posts.map((post) => post.data.tags).flat()),
].sort();
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION} image={SITE_LOGO}>
    <!-- display list of tags -->
    <ul>
        {
            categories.map((category) => (
                <li>
                    <Category category={category} posts={posts} />
                </li>
            ))
        }
    </ul>
</MainLayout>
